.selectorGroup {
  display: flex;
  gap: var(--space-4);
  align-items: center;
}

.select {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--color-white);
  font-family: var(--font-sans);
  font-size: var(--label-size);
}

.select:focus {
  outline: none;
}

.option {
  color: var(--color-black);
}
